.page-container {
    min-height: 100vh;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.row {
    width: 100vh;
}
.card {
    align-items: center;
}
table {
    width: 100%;
    background-color: rgb(230, 230, 230);
    margin: auto;
    border-color: black;
    border-radius: 1px;
}
th {
    background-color: #000000;
    border: 1px solid #dddddd;
    padding: 15px; 
    text-align: center; 
    color: white;
}
td {
    border: 1px solid #000000;
    padding: 8px;
}
tr:hover {
    background-color: #bed4f4;
    cursor: pointer;
}
.btn-primary {
    width: fit-content;
}